// Light Theme
$color-light: #2b2b2d;
$bg-color-light: #f1f1f1;
$bg-secondary-color-light: #ffffff;
$box-shadow-color-light: #757579;
$border-color-light: #e4e4e4;
$hover-color-light: #e6e6e6;

// Dark Theme
$color-dark: #f7f7f7;
$bg-color-dark: #151515;
$bg-secondary-color-dark: #1d1d1d;
$box-shadow-color-dark: #2b2b2b;
$border-color-dark: #2b2b2b;
$hover-color-dark: #101010;